<!DOCTYPE html>
<html>
    <head>
        <head>
            <%if(typeof(title) !== 'undefined') {%>
            <title><%= title %></title>
            <%}%>
            <link rel='stylesheet' href='/stylesheets/reset.css' />
            <link rel='stylesheet' href='/stylesheets/style.css' />
          </head>
    </head>
    <body>