<!DOCTYPE html>
<html>
    <head>
        <head>
            <%if(typeof(title) !== 'undefined') {%>
            <title><%= title %></title>
            <%}%>
            <link rel='stylesheet' href='/stylesheets/reset.css' />
            <link rel='stylesheet' href='/stylesheets/style.css' />
          </head>
    </head>
    <body>
        <nav class='flex-row'>
          <div class='flex-row'>
            <p style="margin-right:1vw;">Member's Only</p>
            <% if(typeof user !== 'undefined') {%>
              <%if(user.admin === false) {%>
                <a href='/admin'>Become an Admin</a>
                <%}%>
                <%if(user.memberstatus !== "secret") {%>
                  <a href='/member'>Become a member</a>
                <%}%>
            <%}%>
          </div>
          <div class='acc-options'>
            <% if(typeof user === 'undefined') {%>
            <a href='/login'>Login</a>
            <a href='/sign-up'>Create an account</a>
            <%} else {%>
              <a href='/log-out'>Log out</a>
              <a href='/create'>Create a post</a>
            <%}%>
          </div>
        </nav>