<%- include('header') -%>
  <div class="flex-column">
    <% if(typeof posts !== 'undefined') for(let i = 0; i < posts.length; i++) {%>
      <div class='post'>
        <p class='title'><%= posts[i].title%></p><br>
        <p class='message'><%= posts[i].message%></p>
      </div>  
    <%}%>
  </div>
</body>
</html>
