<%- include('header') -%>
        <div class="flex-column">
            <h1><%=title %></h1>
            <form class='flex-column' method='POST' action=<% actionTarget %>>
                <div class="form-group">
                    <label for="password">Password:</label><br/>
                    <input type="password" name="password" required='true'>
                </div>
                <button>Confirm</button>
            </form>
            <div class='errors-list'>
                <ul>
                    <% if(typeof(errors) !== 'undefined') for(let i = 0; i < errors.length; i++) { %>
                        <li><%=errors[i].msg%></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </body>
</html>